{% extends 'base.html' %}

{% block body_block %}
<p>
    {{ text.upper }}
</p>
<div class="container">
    <div class="block-heading"><h2 class="text-info">من نحن</h2>
        <h1>&nbsp;</h1><h4>جمعية السباط للحفاظ على الثقافة والتراث (ج.م.) – تأسست عام 1999م</h4><h5>&nbsp;</h5>
        <p class="d-inline">منذ سنوات تعمل جمعية السباط للحفاظ على التراث (موقعها مدينة الناصرة) في بيت من بيوت
            الناصرة التقليدية (يشمل البيت ستة غرف (عقد)، مغارة داخلية، و حاكورة مسجلة بالطابو العثماني) التي
            بنيت أواخر القرن التاسع عشر، ويعود بملكيته لعائلة نصراوية عريقة</p><h5>&nbsp;</h5>
        <p class="d-table-row">قبل سنوات نجحت جمعية السباط للحفاظ على التراث الفلسطيني في استئجار البيت وتحويله
            إلى متحف للتراث الفلسطيني وذلك كجزء من الحفاظ على الهوية الفلسطينية وعلى موروثنا&nbsp; &nbsp;التاريخي
            والحضاري والتراثي. حيث وضعت الجمعية نصب أعينها عدة أهداف لمشاريعها كان أهمها</p><h5>&nbsp;</h5>
        <p>متحف التراث ، (بيت التراث الشعبي). تأسس عام 1999م</p><h5>&nbsp;</h5>
        <p style="/*margin: 0 0 10px;*/unicode-bidi: bidi-override;direction: rtl;">محتويات
            المتحف:<br><br><br><br>في ثنايا المتحف مجموعة كبيرة من الأدوات التراثية التي استخدمها الإنسان
            الفلسطيني الذي يعيش في بلد عاشت فيها أقدم الحضارات، ونشأت فيها الديانات السماوية الثلاث. يمكننا
            تصنيفها حسب حقبها التاريخية إلى مجموعات :<br><br><br><br>1- المجموعة الأثرية ، وتحوي جرة وبعض الصحون
            الكنعانية ، قوارير و "ساركوفاج" – تابوت حجري روماني وبعض الحجارة الأثرية .<br><br>2- مجموعة أواني
            للزينة ، تعود للفترة المملوكية ، 0521-6151.<br><br>3- مجموعة من الأواني والأدوات والأسلحة التقليدية
            تعود للفترة العثمانية ، 6151- 6191.<br><br>4- مجموعة من الأدوات التراثية الفلسطينية ابان الانتداب
            البريطاني . نذكر أهمها :<br><br>2- أدوات العمل .<br><br>3- أدوات المطبخ .<br><br>4- الزي الشعبي
            التقليدي للنساء والرجال.<br><br>5-الإكسسوارات، الحلي والزينة.<br><br>6- ادوات الانارة والطهي
            .<br><br>7- معروضات البيت العربي .<br><br>8- الصيدلية التقليدية – الأكزاخانه. ومجموعة من السجلات
            والكتب الطبية والرسومات التي يظهر فيها تاريخ الطب القديم وحتى يومنا هذا.<br><br>باختصار يحوي المتحف
            مجموعة كبيرة من المعروضات تصل إلى أكثر من 007 قطعة ، تحاكي واقعنا الفلسطيني قبل النكبة.<br><br></p>
    </div>
</div>
{% endblock %}
