{% extends 'base.html' %}

{% block body_block %}
    <main class="page service-page">
        <section class="clean-block clean-services dark">
            <div class="container">
                <div class="block-heading"><h2 class="text-info">{{ city.name }}</h2>
                    <div class="btn-group" role="group"><!-- Start: Basic Modal Button -->
                        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modal1"
                                style="width: 116.234px;margin: 3px;">صور بانورامية
                        </button><!-- End: Basic Modal Button --><!-- Start: Basic Modal Button -->
                        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modal1"
                                style="width: 116.234px;margin: 3px;">صور جوية
                        </button><!-- End: Basic Modal Button --><!-- Start: Basic Modal Button -->
                        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modal1"
                                style="width: 116.234px;margin: 3px;">صور احداث
                        </button><!-- End: Basic Modal Button --><!-- Start: Basic Modal Button -->
                        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modal1"
                                style="width: 116.234px;margin: 3px;">صور مناسبات
                        </button><!-- End: Basic Modal Button --><!-- Start: Basic Modal Button -->
                        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modal1"
                                style="width: 116.234px;margin: 3px;">صور مؤسسات
                        </button><!-- End: Basic Modal Button --><!-- Start: Basic Modal Button -->
                        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modal1"
                                style="width: 116.234px;margin: 3px;">صور شخصيات
                        </button><!-- End: Basic Modal Button --><!-- Start: Basic Modal Button -->
                        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modal1"
                                style="width: 115.234px;margin: 3px;">متفرقات
                        </button><!-- End: Basic Modal Button --></div>
                </div>
                <div class="row">
                    {% for p in city.PanoramicPhotoCity.all %}
                        <div class="col-md-6 col-lg-4 item">
                            <a class="lightbox" href="{{ p.picture.url }}">
                                <img class="img-thumbnail img-fluid image" src="{{ p.picture.url }}" alt="">
                                <p>{{ p.caption }}</p>
                            </a>
                        </div>
                        <br>
                    {% endfor %}
                </div>

            </div><!-- Start: --mp-- Multiple items slider responsive -->
            <div style="margin-top: 20px;">
                <div class="d-flex flex-row multiple-item-slider">
                    <div class="row">
                        {% for v in city.city.all %}
                            <div class="justify-content-center spacer-slider col-md-6 col-lg-2">
                                <figure class="figure" style="
                            height: 100%;
                        "><img class="img-fluid figure-img"
                               src="https://c4.wallpaperflare.com/wallpaper/423/85/112/leather-texture-textured-wallpaper-preview.jpg"
                               alt="alt text here" style="
                                    height: 97%;
                                ">
                                    <figcaption class="figure-caption">{{ v.name }}</figcaption>
                                    <a href="{% url 'app:village' city=city.name village=v.name %}"
                                       class="stretched-link"></a>
                                </figure>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div><!-- End: --mp-- Multiple items slider responsive --></section>
    </main><!-- Start: Footer Dark -->

{% endblock %}
