{% extends 'base.html' %}

{% block body_block %}
    <!--<h2>الصفحة التبرع</h2>-->
    <!--<p>-->
    <!--    شكرا لسخائكم-->
    <!--</p>-->
    <section class="clean-block features">
        <div class="container">
            <div class="block-heading"><h2 class="text-info">التبرع</h2>
                <p>
                    نحن نصبو أن يتحول هذا العمل إلى مشروع يساهم في الحفاظ على التراث الشعبي،
                    وإنقاذه من خطر الضياع وأن يكون عبارة عن مركز يساهم برفع مستوى الوعي وتعزيز الهوية عند الأجيال
                    الناشئة، ومعلما هاما للزوار المحليين والأجانب الذين يزورون الناصرة والأراضي المقدسة في البلاد.</p>
            </div>
            <div class="row justify-content-center"
                 style="margin: 0 0 10px;unicode-bidi: bidi-override;direction: rtl;">
                <div class="col-md-5 feature-box"><i class="icon-paypal icon"></i><h4><strong>بي بال</strong></h4>
                    <p style="margin: 0 0 10px;unicode-bidi: bidi-override;direction: rtl;">موقع ويب تجاري يسمح للمستخدم
                        بتحويل المال عبر الإنترنت والبريد الإلكتروني لعناوين مختلفة. كما يمكن للمستخدم إرسال المال
                        المرسل إليه إلى الآخرين أو تحويله لحساب في المصرف.</p></div>
                <div class="col-md-5 feature-box"><i class="icon-bulb icon"></i><h4><strong>تحويله بنكية</strong></h4>
                    <p style="margin: 0 0 10px;unicode-bidi: bidi-override;direction: rtl;">عن طريق تحويل بنكي</p></div>
                <div class="col-md-5 feature-box"><i class="icon-heart icon"></i><h4><strong>bit</strong></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in,
                        mattis vitae leo.</p></div>
                <div class="col-md-5 feature-box"><i class="icon-refresh icon"></i><h4>All Browser Compatibility</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in,
                        mattis vitae leo.</p></div>
            </div>
        </div>
    </section>

{% endblock %}
