{% extends 'base.html' %}

{% block body_block %}

    <section class="clean-block clean-pricing dark">
        <div class="container">
            <div class="block-heading"><h2 class="text-info"
                                           style="color: #0dcaf0!important;margin-top: 20px;margin-bottom: 50px;">
                المتحف</h2>
                <p>شرح مبسط</p></div>
        </div>

        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                    {% for p in photos %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <img class="card-img-top" src="{{ p.image.url }}"
                                     alt="...">
{#                                {{ p.image.url }}#}
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <h6 class="fw-bolder">{{ p.caption}}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                </div>
            </div>
        </section>
    </section>
{% endblock %}
