{% extends 'base.html' %}

{% block body_block %}

<section class="clean-block clean-services dark">
    <div class="container">
        <div class="block-heading"><h2 class="text-info"
                                       style="color: #0dcaf0!important;margin-top: 20px;margin-bottom: 50px;">التاريخ
            الشفوي</h2>
            <p style="margin-bottom: 50px;"> نبذة عن التاريخ الشفوي وأهميته</p></div>
        <div class="row" style="margin-bottom: 50px;">
            <div class="col-md-6 col-lg-4">
                <div class="card" style="height: 400px;">
                    <div style="  position: relative;text-align: center;color: white;">
                        <img src="https://www.freepnglogos.com/uploads/camera-logo-png/video-camera-png-26.png"
                             alt="Snow" style="width:100%;">
                        <div style="  position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);font-size: 30px;">
                            الافلام
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card" style="height: 400px;">
                    <div style="  position: relative;text-align: center;color: white;">
                        <img src="https://www.freepnglogos.com/uploads/speaker-png/vector-graphic-speaker-volume-loud-sound-music-30.png"
                             alt="Snow" style="width:100%;">
                        <div style="  position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);font-size: 30px;">
                            صوتيات
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card" style="height: 400px;">
                    <div style="  position: relative;text-align: center;color: white;">
                        <img src="https://i.dlpng.com/static/png/1444857-writing-hand-with-pen-png-clip-stock-writing-hand-png-black-and-white-512_512_preview.png"
                             alt="Snow" style="width:100%;">
                        <div style="  position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);font-size: 30px;">
                            معلومات كتابية
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>

    .block-heading > p {
    font-family: 'Shilia W23';
     font-size: 1.1em;
     font-weight: 15;
     line-height: 1.1em;
    color: black;
    }



</style>
{% endblock %}
