{% extends 'base.html' %}

{% block body_block %}
{{ Village }}
<section class="clean-block clean-services dark">
    <div class="container">
        <div class="block-heading"><h2 class="text-info">{{ village.name }}</h2>
            <div class="btn-group" role="group"><!-- Start: Basic Modal Button -->
                <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modal1"
                        style="width: 116.234px;margin: 3px;">صور بانورامية
                </button><!-- End: Basic Modal Button --><!-- Start: Basic Modal Button -->
                <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modal1"
                        style="width: 116.234px;margin: 3px;">صور جوية
                </button><!-- End: Basic Modal Button --><!-- Start: Basic Modal Button -->
                <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modal1"
                        style="width: 116.234px;margin: 3px;">صور احداث
                </button><!-- End: Basic Modal Button --><!-- Start: Basic Modal Button -->
                <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modal1"
                        style="width: 116.234px;margin: 3px;">صور مناسبات
                </button><!-- End: Basic Modal Button --><!-- Start: Basic Modal Button -->
                <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modal1"
                        style="width: 116.234px;margin: 3px;">صور مؤسسات
                </button><!-- End: Basic Modal Button --><!-- Start: Basic Modal Button -->
                <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modal1"
                        style="width: 116.234px;margin: 3px;">صور شخصيات
                </button><!-- End: Basic Modal Button --><!-- Start: Basic Modal Button -->
                <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modal1"
                        style="width: 115.234px;margin: 3px;">متفرقات
                </button><!-- End: Basic Modal Button --></div>
        </div>
        <section class="clean-block clean-gallery dark">
            <div class="container">
                <div class="row">
                {% for p in village.PanoramicPhotoVillage.all %}
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="{{ p.picture.url }}">
                        <img class="img-thumbnail img-fluid image" src="{{ p.picture.url }}" alt="" style="height: 300px;
                             width: 100%;">
                        <p style="
                            text-align: center;
                            ">{{ p.caption }}</p>
                    </a>
                </div>
                <br>
                {% endfor %}
            </div>
            </div>
        </section>
    </div>
</section>
{% endblock %}
