{% extends 'base.html' %}

{% block body_block %}
    <h2 style="color: #0dcaf0!important;margin-top: 20px;margin-bottom: 50px; text-align: center">اوقات الزيارة</h2>
    <section style="text-align: center" class="clean-block features">
        <div class="container">
            <p style="color: black">الإثنين - السبت&nbsp;&nbsp;8:00 - 12:00 / 16:00 - 19:00&nbsp;
                <br>الجمعة&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                8:00 - 14:00&nbsp;

            <p style="color: black">الموقع&nbsp;&nbsp;الناصرة حي الروم&nbsp;<br>
        </div>

        <iframe allowfullscreen="" frameborder="0" loading="lazy"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA288fEzUn_7wScoKNnJmfG4TZh38lIqYk&amp;q=%D8%A7%D9%84%D9%86%D8%A7%D8%B5%D8%B1%D8%A9+%D8%AD%D9%8A+%D8%A7%D9%84%D8%B1%D9%88%D9%85&amp;zoom=11&amp;language=ar"
                width="100%" height="400"></iframe>
    </section>


{% endblock %}
